<section ng-controller="FavController">
  <dir class="container">
    <h1>My favorites songs</h1>
    <div class="row">
    <table class="table table-striped">
      <tr>
        <th>Artist</th>
        <th>Genre</th>
        <th>Title</th>
      </tr>
      <tr ng-repeat="song in songs">
        <td>{{song.artist}}</td>
        <td>{{song.genre}}</td>
        <td>{{song.title}}</td>
      </tr>
    </table>
    </div>
  </dir>
</section>
