<section ng-controller="HomeController">
  <dir class="container">
    <h1>Add your favorites songs</h1>
    <div class="row">
      <form ng-submit="storeSong()">
        Artist name:
        <br>
        <input type="text" class="form-control" ng-model="song.artist" required>
        <br>
        Genre:
        <br>
        <input type="text" class="form-control" ng-model="song.genre" required>
        <br>
        Song title:
        <br>
        <input type="text" class="form-control" ng-model="song.title" required>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <br><br>
        <p class="text-success" ng-show="messaje">Song saved!</p>
      </form>
    </div>
  </dir>
</section>
